body {
  margin: 0;
}

.speech-to-text-demo {
  font-family: Arial;
  background-color: black;
  height: 100vh;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
